.text {
    margin-left: 20px;
}

.flex-box {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background: #f0f0f0;
    padding: 15px;
    border: 2px solid #ccc;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-container {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.item {
    background: white;
    color: black;
    font-size: 20px;
    width: 400px;
    text-align: left;
    padding: 10px 0;
    border-radius: 20px;
    box-shadow: 10px 10px 5px grey;
    justify-content: center;
    padding: 16px;
    border: 1px solid #ccc;
    width: 500px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
