.title {
    text-align: center;
    margin: 20px 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 25% 75%;
    min-height: 100vh;
}

.menu {
    background-color: #2f86eb;
    color: white;
    padding: 20px;
}

.menu h2 {
    margin-top: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu li {
    margin: 10px 0;
}

.content {
    background-color: #f2f2f2;
    padding: 20px;
}


@media (max-width: 600px) {
    .container {
        grid-template-columns: 1fr;
    }
}